#form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    font-family: $font-family-body;
    font-size: $font-size;
    font-weight: 400;

    input {
        border-width: 1px;
        border-radius: 0px;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }

    #email {
        width: 70%;
        color: $color-meta;
    }

    #email:focus {
        color: black;
        outline-color: #4B32EC;
    }

    #submit {
        width: 25%;
        text-align: center;
        background: #fff;
    }
};
