@font-face {
    font-family: "Verily Serif Mono";
    font-display: swap;
    src: url("../fonts/VerilySerifMono.otf");
}

@font-face {
    font-family: "Fake Receipt";
    font-display: swap;
    src: url("../fonts/FakeReceipt.ttf");
}
