$font-family-header: "Helvetica", sans;
$font-family-body: "Verily Serif Mono", serif;
$font-family-mono: "Verily Serif Mono", monospace;
$font-family-footer: "Fake Receipt", sans;

$font-size: 14px;
$line-height: 1.5;
$page-width: 645px;

$color-background: #fff;
$color-text: #000;
$color-accent: #4B32EC;
$color-meta: #666;
