<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<div class="social-container">
  <ul class="social-item-list">
    <li class="social-item">
      <a class="social-link" href="https://github.com/walkergriggs">
        <i class="fab fa-github fa-lg"></i>
      </a>
    </li>
    <li class="social-item">
      <a class="social-link" href="https://linkedin.com/in/walkergriggs">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
    </li>
  </ul>
</div>
