{{ define "main" }}
<div class="mb3 hero">
  {{ if not .IsHome }}
  {{ strings.FirstUpper .Title | markdownify }}
  {{ end }}
</div>


<div class="mb3 content">
  {{ range $taxonomy := .Site.Taxonomies.categories.Alphabetical.Reverse }}
  <div class="mb3">
    <a href="/categories/{{$taxonomy.Name}}">{{ strings.FirstUpper $taxonomy.Name }}</a>
    <ul class="page-list">
      {{ range (sort .Pages "Date" "desc") }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        <span >{{ .Date.Format "2006/01/02" }}</span>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</div>
{{ end }}
