{{ define "main" }}
<div class="mb3 hero">
  {{ if not .IsHome }}
  {{ strings.FirstUpper .Title | markdownify }}
  {{ end }}
</div>


<div class="mb3 content">
  {{ $labels := dict "talks" "talk" "essays" "essay" "recently" "micro" }}
  <ul class="page-list">
    {{ range (where .Site.RegularPages "Params.categories" "!=" nil).ByDate.Reverse }}
    {{ $cat := index .Params.categories 0 }}
    <li>
      <em class="label">{{ index $labels $cat | default $cat }}</em>
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
      <span class="date">{{ .Date.Format "2006/01/02" }}</span>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
