<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <meta charset="utf-8">
  <title>{{ .Title }} | {{ .Site.Title }}</title>

  {{- $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed" "enableSourceMap" "true") -}}
  {{- $styles := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "scss/style.scss" . | resources.ToCSS $options | resources.Fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">

  <link rel="shortcut icon" type="image/png" href="/img/32x32-beige.png">
  <link rel="shortcut icon" sizes="32x32" href="/img/32x32-beige.png">
  <link rel="apple-touch-icon" href="/img/32x32-beige.png">
</head>
