{{ if isset .Site.Params "twitter" }}
<meta name="twitter:title" content="{{ if .IsPage }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
<meta name="twitter:description" content="{{ if .Description }}{{ trim .Description "\n " }}{{ else }}{{ .Site.Params.Header }}{{ end }}">
<meta name="twitter:site" content="@{{ . }}"/>
<meta name="twitter:creator" content="{{ .Site.Params.twitter }}">

{{ if .Params.featured_image }}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ .Params.featured_image | absURL }}">
{{ else }}
<meta name="twitter:card" content="summary">
{{ end }}
{{ end }}
