<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    <main>
      <div class="wrapper hero-wrapper">
        <div class="hero">
          Just one of those days.
        </div>
      </div>

      <div class="wrapper content-wrapper">
        <div class="content">
          <p>
            The page you're looking has been moved, removed, or just having a good cry in the rain. <a href="/writing">Have a look around</a> while you wait; they might need a moment.
          </p>
        </div>

        <img src="/img/404.gif">
      </div>
    </main>
  </body>
</html>
